body{
  font-family: 'Permanent Marker', cursive;
  background-image: url("../images/francis\ of\ the\ filth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}
.grid{
  width:530px;
  height: 450px;
  margin:0 auto;
  background-color: indianred;
  padding: 10px 50px 50px 50px;
  
}
.grid #question{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}
#Buttons{
  margin-top: 30px;
}
#btn1, #btn2, #btn3, #btn4 {
  background-color: antiquewhite;
  font-family: 'Permanent Marker', cursive;
  border-radius: 50px;
  margin:25px;
  color: black;
  padding:10px 10px;
}